
<!-- Bring in the Bootstrap CSS File -->
<link rel="stylesheet" href="/static/bootstrap.css">
<div>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link"  href="#">Next Pagdffdfe</a>
    </li>
</div>  


       
<!--Second Body Section -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-3 font-weight-normal">How to Play Candyland!</h1>
      <p class="lead font-weight-normal">First you will roll the dice on a 50 spaced board game. At each 10 spaces you will meet a new character. Your goal is to make it past these characters and reach the castle at the end. The characters are either good or evil and will each give you a random trivia question to answer. Good luck!
      </p>
      <a class="btn btn-outline-secondary" href="https://colab.research.google.com/drive/1T_ENzUuaAth-_FwTdW00UT1cC7C3Eeat?usp=sharing">Coming soon</a>
    </div>
   
  </div>

